
/* header */
.header{
    position: fixed;
    width: 100%;
    top: 10px;
    padding: 0 10px;
    z-index: 100;
}
.header .header__wrapper{
    position: relative;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    padding: 15px;
    font-size: 1.5rem;
    background: var(--main-bg);
}
.header .header__wrapper .header__logo{
    position: relative;
    grid-column: 1 / 6;
}
.header .header__wrapper .header__logo .header__logo-link{ position: relative; }

.header .header__wrapper .header__contact{
    display: flex;
    grid-column: 6 / 11;
    gap: 30px;
}
.header .header__wrapper .header__contact .header__contact-phone{ position: relative; }
.header .header__wrapper .header__contact .header__contact-section{ position: relative; }

.header .header__wrapper .header__quick-nav{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    grid-column: 11 / 13;
}
.header .header__wrapper .header__quick-nav .btn__lang{ position: relative; }
.header .header__wrapper .header__quick-nav .btn__burger{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    padding: 4px 0;
}
.burger-line:nth-child(1),
.burger-line:nth-child(2){
    display: block;
    width: 100%;
    height: 3px;
    background: var(--black-color);
}

.menu-item::before{
    position: absolute;
    top: 50%;
    right: 100%;
    content: "(";
    transform: translate(-2px, -50%);
    visibility: hidden;
    font-size: 0.8em;
    transition: all .1s;
}
.menu-item::after{
    position: absolute;
    top: 50%;
    left: 100%;
    content: ")";
    transform: translate(2px, -50%);
    visibility: hidden;
    font-size: 0.8em;
    transition: all .1s;
}
.menu-item.active::before{
    transform: translate(-8px, -50%);
    visibility: visible;
}
.menu-item.active::after
{
    transform: translate(8px, -50%);
    visibility: visible;
}

.side-menu{
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    transition: all .5s ease;
    background: var(--menu-bg);
}
.side-menu.close{ transform: translateX(110%); }
.side-menu .side-menu__wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.side-menu__close{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 20px;
    width: 100%;
}
.side-menu__close.hidden{ display: none; }
.btn__close{ 
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn__close .close-line{ 
    position: absolute;
    right: 10px;
    width: 30px;
    height: 3px;
    background: var(--black-color);
}
.btn__close .close-line:nth-child(1){ transform: rotate(35deg); }
.btn__close .close-line:nth-child(2){ transform: rotate(-35deg); }
.side-menu .side-menu__wrapper .side-menu__list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.side-menu .side-menu__wrapper .side-menu__list .side-menu__item{ }
.side-menu .side-menu__wrapper .side-menu__list .side-menu__item a{
    position: relative;
    font-size: 2em;
}

.side-menu__sns{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.side-menu__sns .sns__item{}
.side-menu__sns .sns__item a{
    position: relative;
    font-size: 1.3em;
}


/* intro */

.intro-section{ position: relative; }
.intro-section .intro-wrapper{
    width: 100%;
    height: 98vh;
}
.intro-section .intro-wrapper .intro__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.intro-section .intro-wrapper .intro__bg .intro__bg-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
}
.intro-section .intro-wrapper .intro__bg .img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro__content{
    position: relative;    
    width: 100%;
    height: 100%;
    font-size: 1rem;
    z-index: 1;
}

.intro__content .intro__content-tit-block{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--main-bg);
}
.tit-tx{
    font-size: 5em;
    font-weight: 500;
    line-height: 0.95em;
    letter-spacing: -.01em;
    text-align: center;
    text-transform: uppercase;
}
.color-accent{
    display: flex;
    color:#dcf263;
}
.font-alt{
    line-height: .9em;
    font-style: italic;
}

.intro__content-subtit-block{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 20px;
}
.subtit-description{ padding-bottom: 20px; }
.subtit-description .subtit-description-tx{
    max-width: 400px;
    font-size: 1.3em;
    color: var(--main-bg);
}
.subtit-description .subtit-description-tx::before{
    content: "(1)";
}


.subtit-shape{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 800px;
    height: 40px;
    z-index: 10;
}
.subtit-shape .shape-wrapper{
    display: flex;
    overflow: hidden;
}
.subtit-shape .shape-wrapper .shape__left{
    width: 3rem; /* 삼각형의 밑변 */
    height: 3rem; /* 삼각형의 높이 */
    background-color: var(--main-bg);
    clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
}
.subtit-shape .shape-wrapper .shape__center{
    width: 100%;
    background: var(--main-bg);
}
.subtit-shape .shape-wrapper .shape__right{
    width: 3rem; /* 삼각형의 밑변 */
    height: 3rem; /* 삼각형의 높이 */
    background-color: var(--main-bg);
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%);
}

.subtit-actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.3em;
    gap: 20px;
    padding-bottom: 20px;
    color: var(--main-bg);
}
.subtit-actions p{}
.subtit-actions a{
    padding: 10px 30px;
    
    color: var(--black-color);
}
.subtit-actions .buy__link{
    background: var(--accent-color);
}
.subtit-actions .sell__link{
    background: var(--main-bg);
}




/* featuers */

.features-section{}
.features-section .features-wrapper{}
.features-section .features-wrapper .features-tit__block{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 100px;
}
.features-section .features-wrapper .features-tit__block h1{
    display: inline;
    max-width: 1000px;
    font-size: 3em;
}
.features__img-wrapper{
    position: relative;
    width: 100%;
    height: 400px;
}
.features__img-block{
    width: 400px;
    height: 100%;
}
.features__img-block img{   
    width: 100%;
    height: 100%;
    object-fit: cover;
}





































@media (max-width:1320px) {
    html{
        font-size: 12px;
    }
    .subtit-shape{
        display: none;
    }
    
}
@media (max-width:1020px) {
    html{
        font-size: 10px;
    }
   
    
}
@media (max-width:700px) {
    
    
}
@media (max-width:500px) {
  
    
}
